.sec2 img {
  height: 30rem;
  width: 20rem;
  margin-top: 18rem;
  margin-left: 180px;
}

.text2 {
  position: relative;
  top: 22rem;
  left: 23rem;
  width: 30%;
  color: khaki;
  text-align: right;
  float: right;
  font-size: 18px;
}
