.sec3 img {
  height: 30rem;
  width: 20rem;
  margin-top: -18rem;
  margin-right: 180px;
  float: right;
}

.text3 {
  position: relative;
  top: 12rem;
  left: 8rem;
  width: 30%;
  color: khaki;
  font-size: 18px;
}
