.sec1 img {
  height: 30rem;
  width: 20rem;
  float: right;
  /* margin: auto 180px auto auto; */
  margin-top: -300px;
  margin-right: 180px;
}

.text1 {
  position: relative;
  top: 9rem;
  left: 8rem;
  width: 30%;
  color: khaki;
  font-size: 18px;
}
